*{
    margin: 0;
    padding: 0;
    border:0;
}

#txtBrand{
    color:#ffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400
}

.nav-link{
    color: #ffff !important; 
    font-family: 'Raleway', sans-serif;
}

#quienesSomos{
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    
}

#quienesSomos h3{
    color: #ffff;
    font-family: 'Raleway', sans-serif;
}

#lineaQuienes{
    color: #6fbdd7;
    height: 2px;
    width: 75%;
}

#cajaIcono{
    background-color:#6fbdd7;
    height: 40px;
}

#icono {
    color: #ffff;
}

#destacados {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    padding-top: 150px;

}

#tarjetas img{
    height: 200px;

}

#tarjetas .card{
    background-color:#6fbdd7;
}

#tarjetas h5, p{
    color: #ffff;
    font-family: 'Raleway', sans-serif;
}

#contacto {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    padding-top: 150px;
}




